<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamb.mapper.MemberMapper">

	<!-- 로그인 -->
	<select id="MemberLogin" resultType="com.teamb.domain.MemberVO">
      <![CDATA[
         SELECT user_id, password, name, email, phone, admin_code, profile_photo FROM MEMBER WHERE user_id = #{user_id} AND password = #{password}
      ]]>
	</select>
	
	<!-- 회원가입 -->
	<insert id="MemberJoin">
      <![CDATA[
         INSERT INTO Member (user_id, password, name, email, phone, admin_code, profile_photo)
         VALUES(#{user_id}, #{password}, #{name}, #{email}, #{phone}, 2, '/resources/img/notlogin.png')
      ]]>
	</insert>
	
	<!-- 회원 정보 수정 -->
    <update id="updateMember" parameterType="com.teamb.domain.MemberVO">
        UPDATE 
        	Member 
        SET 
			name = #{name}, 
            email = #{email}, 
            phone = #{phone} 
        WHERE 
            user_id = #{user_id} 
    </update>
    
    <!-- 회원 탈퇴(비밀번호일치여부) -->
    <select id="getPasswordByUserId" parameterType="string" resultType="string">
        SELECT 
        	password 
        FROM 
        	Member 
        WHERE user_id = #{user_id} 
    </select>
    
    <!-- 회원 탈퇴 -->
    <delete id="deleteById" parameterType="string">
        DELETE FROM 
        	Member 
        WHERE 
            user_id = #{user_id} 
    </delete>
   
	
	<!-- 아이디중복체크 -->
 	<select id="checkId" parameterType = "String" resultType = "int">
 	 	SELECT 
 	 		COUNT(*) 
 	 	FROM 
 	 		MEMBER 
 	 	WHERE 
 	 		user_id = #{user_id} 
 	</select>
 	 
	<!-- 닉네임중복체크 -->
 	<select id="checkName" parameterType = "String" resultType = "int">
 	 	SELECT 
 	 		COUNT(*) 
 	 	FROM 
 	 		Member 
 	 	WHERE 
 	 		name = #{name} 
 	</select>
 	 
	<!-- 사용자 탐색 -->
	<select id="findByUserId" resultType="com.teamb.domain.MemberVO">
	    SELECT * 
	    FROM 
	    	Member 
	    WHERE 
	    	user_id = #{user_id} 
	</select>
	
	<!-- 프로필 사진 업데이트 -->
	<update id="updateProfilePhoto">
	    UPDATE 
	    	Member 
	    SET 
	    	profile_photo = #{profile_photo} 
	    WHERE 
	    	user_id = #{user_id} 
	</update>
		
		
	<!-- 비밀번호변경 -->
	<update id="updatePassword">
        UPDATE 
        	Member 
        SET 
        	password = #{new_password} 
        WHERE 
        	user_id = #{user_id}
    </update>
    
    <!-- 비밀번호 확인 -->
    <select id="checkCurrentPassword" resultType="int">
        SELECT 
        	COUNT(*) 
        FROM 
        	Member 
        WHERE 
        	user_id = #{user_id} 
        AND 
        	password = #{password}
    </select>
    
    <!-- 회원 목록 -->
	<select id="memberList" resultType="com.teamb.domain.MemberVO">
		SELECT
			user_id, name, email, phone
		FROM 
			Member
		ORDER BY
			name
	</select>

</mapper>